
body{
    font-family: 'Fredoka One', cursive;
}
header{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 5px solid black;
    font-size: bolder;
    background: linear-gradient(150deg,rgb(247, 101, 101),#ffffff);
    width: 100vw;
    height: 5vh;
    color: white;
}
#quizcontainer {

    border: 5px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
}
footer{
    bottom:-5;
    height: 5vh;
    width: 100vw;
    position:fixed;
    background: linear-gradient(150deg,rgba(135, 6, 6, 0.442), rgb(199, 22, 22),rgb(247, 101, 101),#ffffff);
    right:0;
}
.start{
  width: 100vw;
  margin-top:30px;
    padding-top:20px;
}

button{
    background: -o-repeating-linear-gradient(red,goldenrod)
}

.container{
    margin-left:12%;
    padding-top: 2%;
    margin-top:2%;
}

a{
    color: black;
    font-weight: 300;
}
.card{
    background: linear-gradient(270deg,pink,white);
   text-align: center;
}